In [9]:
import pandas as pd

In [13]:
url = "https://api.covid19india.org/csv/latest/case_time_series.csv"
url2 = "https://api.covid19india.org/csv/latest/states.csv"

In [27]:
c["Date"] = pd.to_datetime(c["Date"])
start_date = '2021-06-30'
end_date = '2021-07-01'
mask = (c['Date'] > start_date) & (c['Date'] <= end_date)
c=pd.read_csv(url2)
c.loc[mask]

,Date,State,Confirmed,Recovered,Deceased,Other,Tested
17124,2021-07-01,Andaman and Nicobar Islands,7469,7308,128,0,410741.0
17125,2021-07-01,Andhra Pradesh,1893354,1842432,12744,0,22084192.0
17126,2021-07-01,Arunachal Pradesh,36168,33209,176,0,771020.0
17127,2021-07-01,Assam,511153,480839,4577,1347,14986456.0
17128,2021-07-01,Bihar,722101,710793,9592,1,33334290.0
17129,2021-07-01,Chandigarh,61687,60730,808,0,568854.0
17130,2021-07-01,Chhattisgarh,994890,975658,13445,0,10383899.0
17131,2021-07-01,Delhi,1434281,1407943,24981,0,21559572.0
17132,2021-07-01,Dadra and Nagar Haveli and Daman and Diu,10564,10486,4,31,72410.0
17133,2021-07-01,Goa,166920,161582,3060,0,926632.0
17134,2021-07-01,Gujarat,823607,810751,10062,0,23754343.0
17135,2021-07-01,Himachal Pradesh,202290,197155,3464,32,2451440.0
17136,2021-07-01,Haryana,768724,757898,9446,0,10075025.0
17137,2021-07-01,Jharkhand,345706,339739,5113,0,10035595.0
17138,2021-07-01,Jammu and Kashmir,315960,307312,4327,0,10017517.0
17139,2021-07-01,Karnataka,2847013,2746544,35134,23,34425805.0
17140,2021-07-01,Kerala,2937034,2821151,13360,469,23198555.0
17141,2021-07-01,Ladakh,20090,19626,202,0,359314.0
17142,2021-07-01,Lakshadweep,9808,9427,49,39,184431.0
17143,2021-07-01,Maharashtra,6070599,5828535,122197,3200,41875217.0
17144,2021-07-01,Meghalaya,50090,44709,844,0,701787.0
17145,2021-07-01,Manipur,70298,63206,1162,0,906459.0
17146,2021-07-01,Madhya Pradesh,789844,780330,8981,0,12150837.0
17147,2021-07-01,Mizoram,20492,16545,93,0,488984.0
17148,2021-07-01,Nagaland,25305,22781,498,705,227838.0
17149,2021-07-01,Odisha,912887,880997,4116,0,13833870.0
17150,2021-07-01,Punjab,595899,576866,16072,0,10947245.0
17151,2021-07-01,Puducherry,117465,113373,1751,0,1324645.0
17152,2021-07-01,Rajasthan,952497,942172,8923,0,11910687.0
17153,2021-07-01,Sikkim,20666,17998,308,253,164498.0
17154,2021-07-01,Telangana,624379,607658,3669,0,18777030.0
17155,2021-07-01,Tamil Nadu,2484177,2413930,32721,0,33001904.0
17156,2021-07-01,Tripura,66217,61600,679,23,1289528.0
17157,2021-07-01,India,30457549,29540895,400346,11959,414251520.0
17158,2021-07-01,Uttar Pradesh,1706252,1680980,22601,0,58111746.0
17159,2021-07-01,Uttarakhand,340379,325253,7324,5836,5555584.0
17160,2021-07-01,West Bengal,1501284,1463379,17735,0,14272933.0

In [29]:
c.head(-1)

,Date,State,Confirmed,Recovered,Deceased,Other,Tested
0,2020-01-30,Kerala,1,0,0,0,NaN
1,2020-01-30,India,1,0,0,0,NaN
2,2020-02-02,Kerala,2,0,0,0,NaN
3,2020-02-02,India,2,0,0,0,NaN
4,2020-02-03,Kerala,3,0,0,0,NaN
...,...,...,...,...,...,...,...
17192,2021-07-02,Tamil Nadu,2488407,2418882,32818,0,33162714.0
17193,2021-07-02,Tripura,66626,62067,680,23,1297111.0
17194,2021-07-02,India,30501721,29598189,401083,12068,414251520.0
17195,2021-07-02,Uttar Pradesh,1706380,1681208,22616,0,58382501.0
17196,2021-07-02,Uttarakhand,340488,325361,7327,5936,5576775.0

In [40]:
pd.read_csv("https://api.covid19india.org/csv/latest/state_wise.csv")

,State,Confirmed,Recovered,Deaths,Active,Last_Updated_Time,Migrated_Other,State_code,Delta_Confirmed,Delta_Recovered,Delta_Deaths,State_Notes
0,Total,30501725,29598360,401083,490214,03/07/2021 09:09:08,12068,TT,0,0,0,NaN
1,Andaman and Nicobar Islands,7475,7325,128,22,02/07/2021 22:07:08,0,AN,0,0,0,NaN
2,Andhra Pradesh,1896818,1846716,12779,37323,02/07/2021 19:40:07,0,AP,0,0,0,NaN
3,Arunachal Pradesh,36572,33432,176,2964,03/07/2021 08:37:06,0,AR,0,0,0,[July 25]: All numbers corresponding to Papum ...
4,Assam,513606,483741,4604,23914,03/07/2021 00:03:07,1347,AS,0,0,0,[Jan 1]: 1347 cases i.e Covid +'tive patients ...
5,Bihar,722282,710995,9594,1692,02/07/2021 22:57:16,1,BR,0,0,0,[June 9] : 3951 deceased cases have been repor...
6,Chandigarh,61700,60745,808,147,02/07/2021 19:44:09,0,CH,0,0,0,NaN
7,Chhattisgarh,995195,976125,13450,5620,02/07/2021 22:07:10,0,CT,0,0,0,NaN
8,Dadra and Nagar Haveli and Daman and Diu,10568,10490,4,43,02/07/2021 23:39:08,31,DN,0,0,0,NaN
9,Delhi,1434374,1408350,24983,1041,02/07/2021 19:44:11,0,DL,0,0,0,[July 14]: Value for the total tests conducted...
10,Goa,167103,161867,3062,2174,02/07/2021 19:44:12,0,GA,0,0,0,NaN
11,Gujarat,823687,810979,10064,2644,02/07/2021 22:07:11,0,GJ,0,0,0,NaN
12,Haryana,768800,758046,9461,1293,02/07/2021 21:58:20,0,HR,0,0,0,NaN
13,Himachal Pradesh,202440,197369,3465,1579,02/07/2021 23:05:11,27,HP,0,0,0,NaN
14,Jammu and Kashmir,316291,307749,4333,4209,02/07/2021 23:05:12,0,JK,0,0,0,NaN
15,Jharkhand,345794,339850,5113,831,03/07/2021 00:10:08,0,JH,0,0,0,NaN
16,Karnataka,2849997,2760881,35222,53871,02/07/2021 22:57:31,23,KA,0,0,0,NaN
17,Kerala,2949129,2831394,13506,103760,02/07/2021 20:24:10,469,KL,0,0,0,Mahe native who expired in Kannur included in ...
18,Ladakh,20090,19626,202,262,02/07/2021 16:06:15,0,LA,0,0,0,NaN
19,Lakshadweep,9843,9475,49,280,02/07/2021 21:48:16,39,LD,0,0,0,NaN
20,Madhya Pradesh,789887,780384,8989,514,02/07/2021 22:43:13,0,MP,0,0,0,[Oct 14]: 4469 confirmed cases and 4469 recove...
21,Maharashtra,6079352,5836920,122353,116867,02/07/2021 22:49:17,3212,MH,0,0,0,"[Dec 16]:10,218 duplicate cases & other state ..."
22,Manipur,70954,63809,1175,5970,02/07/2021 23:14:08,0,MN,0,0,0,[Dec 14]:824 out of 980 recovered cases are ba...
23,Meghalaya,50575,45074,849,4652,02/07/2021 16:24:14,0,ML,0,0,0,NaN
24,Mizoram,20770,16899,94,3777,03/07/2021 09:09:12,0,MZ,0,0,0,NaN
25,Nagaland,25382,22897,498,1280,02/07/2021 22:16:09,707,NL,0,0,0,NaN
26,Odisha,916109,884262,4162,27685,02/07/2021 21:58:37,0,OR,0,0,0,[July 12th] :20 non-covid deaths reported in s...
27,Puducherry,117640,113649,1759,2232,02/07/2021 16:33:09,0,PY,0,0,0,NaN
28,Punjab,596094,577256,16086,2752,02/07/2021 23:25:08,0,PB,0,0,0,NaN
29,Rajasthan,952573,942331,8930,1312,02/07/2021 23:32:09,0,RJ,0,0,0,NaN
30,Sikkim,20777,18154,308,2062,02/07/2021 16:24:17,253,SK,0,0,0,NaN
31,State Unassigned,0,0,0,0,19/07/2020 09:40:01,0,UN,0,0,0,MoHFW website reports that these are the 'case...
32,Tamil Nadu,2488407,2418882,32818,36707,02/07/2021 23:32:10,0,TN,0,0,0,[June 29 2021]: TN has introduced a new distri...
33,Telangana,625237,608833,3678,12726,02/07/2021 23:05:16,0,TG,0,0,0,[July 27] : Telangana bulletin for the previou...
34,Tripura,66626,62067,680,3856,02/07/2021 21:58:39,23,TR,0,0,0,[Aug 4]: Tripura bulletin for the previous day...
35,Uttar Pradesh,1706384,1681208,22616,2560,03/07/2021 09:08:14,0,UP,0,0,0,[Jan 1]:As no bulletin was provided for 31'st ...
36,Uttarakhand,340488,325361,7327,1864,02/07/2021 23:25:11,5936,UT,0,0,0,[Oct 30]: Metric of capturing the testing data...
37,West Bengal,1502706,1465219,17758,19729,02/07/2021 21:58:43,0,WB,0,0,0,NaN